<!DOCTYPE html>
<html lang="en">
<body>
this is rerun
{{^username}}
<form action="/login"method="post">
    <input type="text" placeholder="Username" name="username"/>
    <input type="text" placeholder="Email Address" name="email"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/username}}
<br>
{{#username}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{/username}}
<form action="/search" method="post">
    <input type="text" placeholder="Search by com.theironyard.controllers.Venue" name="userInput"/>
    <button type="submit">Search</button>
</form>
{{^jsonResults}}
{{/jsonResults}}
<ul>
    {{#jsonResults}}
    <li>
        <h1>{{venue_name}}</h1><br>
        {{address}}<br>
        {{city_name}}, {{region_abbr}}, {{postal_code}}<br>
        {{url}}<br>
    </li>
    {{/jsonResults}}


</ul>

<br>
</body>
</html>