<!DOCTYPE html>
<head>
    <style>
        #container {
            width:960px;
            margin:20px auto;
        }

        #events {
            float:left;
            width:620px;
        }

        #reviews {
            float:left;
            width:340px;
        }
    </style>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="container">
    <div id="header">

<form action="/home" method="post">
    <button type="submit">Home</button>
</form>

<form action="/search" method="post">
    <input type="hidden" value="{{userInput}}" name="userInput"/>
    <button type="submit">Back to Search Results</button>
</form>

        {{#venue}}
        <h1>{{venue_name}}</h1>
        <br>
        {{address}}<br>
        {{city_name}}, {{region_abbr}}, {{postal_code}}<br>
        {{id}}<br>
        <a href="{{url}}">{{url}}</a> <br>
        {{/venue}}
        Average Rating = {{averageRating}}

    </div>

    <div id="events">
        <h2>Upcoming Events:</h2>
        <ul>
            {{#events}}
            <li>
                <h3>{{name}}</h3>
                <br>
                {{type}}
                <br>
                {{startDate}}
                <br>
                Starting time: {{time}}
                <br>
                <a href="{{url}}">{{url}}</a> <br>
                <img src="{{imageUrl}}" width="300"/>
            </li>
            {{/events}}
        </ul>
        Event data brought to you by:
        <img src="http://developer.ticketmaster.com/assets/img/branding-guide/white-logo@3x.png" alt="ticketmaster logo"
                style="width:100px;height: 100px;">
    </div>

    <div id="reviews">
        <h2>Create a Review</h2>
        {{^user}} You must be logged in to write a review. <br>
        <form action="/login"method="post">
            <input type="text" placeholder="Email Address" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <input type="hidden" value="/venue-page" name="route"/>
            <button type="submit">Login</button>
        </form>
        <form action="/sign-up" method="post">
            <button type="submit">Create Profile</button>
        </form>
        {{/user}}

        {{#user}}

        <form action="create-review" method="post">
            <span class="star-rating">
                <input type="radio" name="rating" value="1"><i></i>
                <input type="radio" name="rating" value="2"><i></i>
                <input type="radio" name="rating" value="3"><i></i>
                <input type="radio" name="rating" value="4"><i></i>
                <input type="radio" name="rating" value="5"><i></i>
            </span>
            <strong class="choice">Choose a rating</strong>
<br>
            <textarea rows="7" cols="40" placeholder="Review Description" name="text">
            </textarea>
<br>
            <button type="submit">Submit</button>
        </form>
        {{/user}}
        <h2>Reviews:</h2>
        <ol>
            {{#reviews}}
            <li>
               <h3> {{user.name}} </h3> <br>
               Rating:  {{rating}} <br>
               Review:  {{text}} <br> <br>
            </li>
            {{/reviews}}
        </ol>
    </div>
</div>


<script src="review.js"></script>
</body>
</html>

<!--<select name="rating">-->
<!--<option selected disabled>Rating</option>-->
<!--<option value="1">1</option>-->
<!--<option value="2">2</option>-->
<!--<option value="3">3</option>-->
<!--<option value="4">4</option>-->
<!--<option value="5">5</option>-->
<!--</select>